@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
header{
    background-color: black;
    color:white;
    height:60px;
}
.contact{
    width:80%;
    height:900px;
    background-color: white;
    position: absolute;
    top:300px;
    left: 10%;
    right:10%;
    box-shadow: 0px 0px 5px grey;
    font-family: 'Noto Sans', sans-serif;
}
input{
    width:40%;
    height:40px;
    background-color: rgba(194, 194, 194, 0.205);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    border-bottom: 5px solid #FCBC04;
}
.contactinput{
    display:flex;
    flex-direction: column;
}
.contactinput label{
    margin-top:20px;
}
.form{
    margin:10%;
}
button {
    background-color: #FCBC04;
    color:white;
    width: 100px;
    height:50px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 0px 2px grey;
}

#dataPopup{
    display:none;
    width:50%;
    height: 500px;
    max-height: 100%;
    background-color: white;
    position: absolute;
    top:400px;
    margin-left: 25%;
    margin-right: 25%;
    color:black;
    box-shadow: 0px 0px 3px grey; 
    font-family: 'Comfortaa', cursive;
    text-align: center;

}
#dataPopup div span{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}
button:hover{
    background-color: white;
    color:black;
    font-weight: 600;
}
#mobileMenu{
    z-index: 1;
}
.hol{
    width:100%;
}
#hi{
    margin-top: 50px;
}
#btn a{
    margin: 0;
}
@media only screen and (max-width: 1024px){
    input{
        width:100%;
    }
    .contact{
        height:700px;
    }
    #dataPopup div span{
        font-size: 12px;
        font-weight: 600;
    }
    #enteredmsg{
        width:100px;
    }
    #enteredsubj{
        font-size: 10px;
    }
}